<h1>How to Play</h1>

<h2>1. Create Your Strategy</h2>
<p>
  <a href="https://github.com/carbonfive/kablammo-strategy/">See the README for how to write your strategy</a>
</p>

<h2>2. Upload Your Robot</h2>
<p>
  <a href="http://kablammo.io/strategies/new">Submit your SSH clone URL and name your bot</a>
</p>

<h2>3. Fight!</h2>
<p>
  <a href="http://kablammo.io/battles/new">Watch your robot fight in the arena</a>
</p>
