<h1>How to Play</h1>

<h3>1. Download the Code</h3>
<p>
  <a href="https://github.com/carbonfive/kablammo-strategy/fork">Fork the Kablammo Strategy Repo</a>
</p>

<h3>2. Write Your Strategy</h3>
<p>
  <a href="https://github.com/carbonfive/kablammo-strategy/">See the README</a>
</p>

<h3>3. Upload Your Robot</h3>
<p>
  <a href="http://kablammo.io/strategies/new">Paste in Your SSH clone URL</a>
</p>

<h3>4. Fight!</h3>
<p>
  <a href="http://kablammo.io/battles/new">Test Your Robot in the Arena</a>
</p>