<div class="jumbotron">
  <h1>Kablammo</h1>
  <h2>Ruby Robot Wars</h2>
  <p>Program your robot. Enter the arena. Win a 3D printer.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="<%= url('/battles/new') %>">Get Started</a>
  </p>
</div>