<div class="jumbotron">
  <h1>Kablammo!</h1>
  <h3>Ruby Robot Wars</h3>
  <h2>Program your robot. Enter the arena. Win a 3D printer.</h2>
  <p>
    <a class="btn btn-lg btn-primary" href="<%= url('/strategies/new') %>">Get Started</a>
  </p>
</div>