<div class="page-header">
  <h1>Enter Robot</h1>
</div>
<% if strategy.errors.any? %>
  <div class="alert alert-danger">
    <p>We were unable to save the strategy.</p>
    <ul>
      <% strategy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="alert alert-info">
  <p>
    For information on how to create a robot, read the <a href="<%= url('/docs/') %>">docs</a>.
  </p>
</div>
<form method="post" action="/strategies">
  <div class="form-group">
    <input name="github_url" type="text" class="form-control" placeholder="Kablammo Strategy fork SSH clone URL">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Add Robot</button>
  </div>
</form>