.health {
  margin-bottom: 10px;
}

.ammo li {
  width: 16px; 
  height: 16px;
  margin: 0 0 0 17px;
  display: inline-block;
}

.ammo li:first-child {
  margin-left: 0;
}

.ammo .ammo-full { 
  background-color: #fff;
}

.ammo .ammo-empty { 
  background-color: #333;
}

.progress {
  height: 16px;
	background-color: #333;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}