.health {
  margin-bottom: 5px;
}

.ammo .btn {
  width: 27px; 
  height: 20px;
  cursor: default;
}

.ammo .btn:hover {
  background: #fff;
  border-color: #ccc;
}

.ammo .btn-info,
.ammo .btn-info:hover { 
  background-color: #ddd;
  border-color: #ccc;
}