body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Stats */

.stats {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}

.stat {
  margin-bottom: 30px;
}

.stat img {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.stat .username {
  display: inline-block;
}

.stat table {
  margin-top: 10px;
  border-collapse: collapse;
}

.stat table th {
  text-align: right;
  font-weight: bold;
  padding: 3px 0;
}

.stat table td {
  padding: 3px 0 3px 20px;
}

