body {
  padding: 20px;
}

.board {
}

.row {
}

.square {
  background-color: #eee;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
}

.square img {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
}

.empty {
}

.wall {
  background-color: black;
}

.tank.dead {
}

.fire {
  background-color: #B80000;
}
