h2 {
  font-size: 120%;
  font-style: bold;
}

table.strategies {
  border: 1px solid #eee;
  margin: 20px;
}
table.strategies th {
  font-style: bold;
}

table.strategies td {
  line-height: 20px;
  padding: 10px;
}

table.strategies tr.odd {
  background-color: #fefefe;
}

table.strategies td {
  vertical-align: middle;
}
td .gravatar, td .user {
  float: left;
  line-height: 80px;
}
td .user {
  margin-left: 20px;
}
td .gravatar img {
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
}
table.strategies thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
  vertical-align:middle;
}