<div class="page-header">
  <h1>Rules</h1>
</div>
<ul>
  <li>Contest runs from 9/19/13 through 9/21/13.</li>
  <li>Winner will be chosen by a panel of judges.</li>
  <li>Based on leaderboard position and quality of code.</li>
  <li>Winner will be awarded a Printrbot Simple, or equivalent cash value, shipped within the Continental United States.</li>
</ul>