<h1>Contest Rules</h1>
 
<p>
  These are the official rules that govern how the Kablammo Coding Contest will operate, and how the winner will be chosen to recieve the Printrbot.
</p>

<h2>What is the Kablammo?</h2>

<p>
  Kablammo is a skill-based coding contest. For purposes of this contest, each robot that you create and submit in the contest will be considered an entry. All eligible entries received will be judged using the criteria described below to determine winners.
</p>

<h2>When does it start and end?</h2>

<p> 
  This contest starts at 12 pm Pacific Time on September 19, 2013, and ends at 12 am Pacific Time on September 22nd, 2013. The tournament will take place during the entry period followed by final judging. The prize will be awarded by 12 am September 24th, 2013.
</p>

<h2>Who can enter?</h2>

<p>
  If you are a legal resident of the United States and are at least 18 years of age you may enter the contest. Employees of Carbon Five may enter robots into the tournament, but can not win the prize.
</p>

<p>
  This contest is void outside the United States and wherever else prohibited by law.
</p>

<h2>How do I enter?</h2>

<p>
  To enter, follow the directions provided in the documentation at <a href="<%= url('/docs') %>">kablammo.io/docs</a>. You may enter multiple robots provided that you do not violate the spirit of the tournament, within reason.
</p>

<p>
  We will automatically disqualify any incomplete or illegible entry. Violation of the spirit of the tournament will result in your removal from the contest.
</p>

<h2>What is considered a fair entry?</h2>

<p>
  To be eligible for judging, your entry must meet the following requirements:
</p>

<ul>
  <li>
    Your entry must be your own work, although it may use the sample code provided
  </li>
  <li>
    Your entry must not alter the rules of the tournament
  </li>
  <li>
    Your entry must not affect the functioning of the arena server in any way
  </li>
  <li>
    You may not use multiple entries to collude, or to dilute the field by sheer numbers
  </li>
</ul>

<h2>How will my entry be used?</h2>

<p>
  By submitting an entry, you acknowledge that we may promote your entry and name on our blog and social media channels. You will not receive any compensation or credit for use of your entry, other than any prize you should receive.
</p>
 
<p>
  If you do not want to grant us these rights to your entry, please do not enter this contest.
</p>

<h2>How will the winner be picked?</h2>

<p>
  At the end of the entry period, a panel of Carbon Five judges will review all entries and select one prize winner based on creativity and the entry's score in the tournament.
</p>

<p>
  The decisions of the judges are final and binding. The prize is a Printrbot Simple, either pre-built or as an unbilt kit, at the winner's discretion. The prize will be shipped to the winner within the Continental United States, or can be picked up at our office.
</p>

<h2>How will the winner be announced?</h2>

<p>
  The winner will be announced on our blog at <a href="http://blog.carbonfive.com">blog.carbonfive.com</a> following the judging period. If possible, we will contact the winner by email or other direct messaging channel. If you wish to be contacted by email, please be sure to add your email address to the Github profile used to submit your entry.
</p>

<p>
  If there is a dispute as to who is the potential winner, we will consider the potential winner to be the authorized account holder of the Github account used to enter the contest.
</p>
 
<p>
  If you are confirmed as a winner of this contest you may not exchange your prize for cash and you may not may not designate someone else as the winner. If you are unable or unwilling to accept your prize, we may award it to an alternative winner. If you accept a prize, you will be solely responsible for any applicable taxes related to accepting the prize.
</p>
 
<h2>What if something goes wrong with the tournament?</h2>
 
<p>
  If someone cheats, or a virus, bug, catastrophic event, or any other unforeseen or unexpected event that cannot be reasonably anticipated or controlled, (also referred to as force majeure) affects the fairness and/or integrity of this contest, we reserve the right to cancel, change or suspend this contest. This right is reserved whether the event is due to human or technical error. If a solution cannot be found to restore the integrity of the contest, we reserve the right to select winners from among all eligible entries received before we had to cancel, change or suspend the contest.
</p>
 
<p>
  If you attempt to compromise the integrity or the legitimate operation of this contest by hacking or by cheating or committing fraud in any way, we may seek damages from you to the fullest extent permitted by law. Further, we may ban you from participating in any future contest, so please play fairly.
</p>
 
<h2>Who is sponsoring this contest?</h2>

<address>
  <a href="http://carbonfive.com">Carbon Five</a><br>
  585 Howard St, 2nd Fl<br>
  San Francisco, CA 94105
</address>