<div class="board">
  <% board.rows.reverse.each do |row| %>
    <div class="row">
      <% row.each do |square| %>
        <div class="square <%= square.html_classes %>">&nbsp;</div>
      <% end %>
    </div>
  <% end %>
</div>

<br/>
<% board.tanks.each do |tank| %>
  <div><%= tank.stats %></div>
<% end %>

<br/>
<a href="/boards/<%= board.name %>/turn">Turn</a> |
<a href="/boards/<%= board.name %>/reset">Reset</a>
