<html>
  <head>
    <title>Kablammo!</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
  </head>
  <body>
  <%= yield %>
  </body>
</head>
