<html>
  <head>
    <title>Kablammo!</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
    <script type="text/javascript" src="/js/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/js/application.js"></script>
  </head>
  <body>
  <%= yield %>
  </body>
</head>
