<html>
  <head>
  <title>Kablammo!</title>
  <%= css :application, media: 'screen' %>
  <%= js :application %>
  </head>
  <body>
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </body>
</head>
